<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sacalabici"
        tools:targetApi="31" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />


        <activity
            android:name=".framework.adapters.views.activities.ActivitiesActivity"
            android:exported="true"
            android:theme="@style/Theme.Sacalabici.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".framework.adapters.views.activities.MapActivity"
            android:exported="false"
            android:theme="@style/Theme.Sacalabici.NoActionBar"/>

        <activity
            android:name=".framework.adapters.views.activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Sacalabici.NoActionBar"/>

        <activity
            android:name=".framework.adapters.views.activities.AnnouncementsActivity"
            android:exported="false"
            android:theme="@style/Theme.Sacalabici.NoActionBar"/>

        <activity
            android:name=".framework.adapters.views.activities.SessionActivity"
            android:exported="false"
            android:theme="@style/Theme.Sacalabici.NoActionBar" />

        <activity
            android:name=".framework.adapters.views.activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Sacalabici.NoActionBar" />

        <activity
            android:name=".framework.adapters.views.activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Sacalabici.NoActionBar" />

        <activity
            android:name=".framework.adapters.views.activities.RegisterContinueActivity"
            android:exported="false"
            android:theme="@style/Theme.Sacalabici.NoActionBar" />
    </application>
</manifest>